@charset "utf-8";
/* Média fluide simple
   Remarque : un média fluide exige que vous supprimiez les attributs de hauteur et de largeur du média du code HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 ne prend pas en charge max-width ; la largeur par défaut est donc fixée à 100% */
.ie6 img {
	width:100%;
}
a              {color:#717171;text-decoration:none;outline:none}	 
a:hover        {color:#FFF}		

/*
	Propriétés de grille fluide Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiré par "Responsive Web Design" par Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	et le système Golden Grid par Joni Korpi
	http://goldengridsystem.com/
*/

/* Disposition mobile : 480px et moins. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
body, html {
     background:url(../photos/fond.jpg);
	 background-size:cover;
	 height:100%;
	 width:98%;
	 margin:auto;
	 padding:0;
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 text-align:center;
	 color:#FFF;
	 font-size:14px;
	 background-attachment: fixed;
}
body {
	display : table;
	width: 100%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#header{
	Text-align: center;
	margin-top:5px;
	padding:5px;
	color:#FFF;
	font-size:20px;	
}
/*...................................menu_Left..................................*/
ul#leftside{
	margin-left:0px;
	padding:0px;
	Text-align: left;
	margin-top:50px;
	color:#000;
	font-size:18px;	
}
ul#leftside li{
Text-align:left;
list-style: none;
	
}
ul#leftside li a {
	 color: #000;
	 text-decoration: none;
	 margin:0 5px;
	 height:18px;
	 padding:4px 5px;
	 text-align:left;
	 font-family:Helvetica;
}
ul#leftside li a:hover{
	margin-left:25px;
	 color: #FFF;
	 background:#8fc1e2;
	 height:16px;
	 font-size:20px;
}
ul#leftside li#select a {
	 color: #FFF;
	 background:#8fc1e2;
	 height:600px;
	 font-size:22px;
}
/*...........................contenu.................................*/
#contenu_centre{
	Text-align: center;
	margin:auto;
	padding:5px;
	color:#FFF;
	font-size:20px;		
}
#intertitre{
	Text-align: center;
	margin:auto;
	padding:5px;
	color:#000;
	font-size:25px;		
}
#titre{
	Text-align: center;
	margin:auto;
	padding:10px;
	color:#0080C0;
	font-size:30px;		
}
/*..........................Slider...................................*/
 #page-wrap { 
	 width: 300px; 
	 margin-left: auto;
	 margin-right:auto;
	 position:relative; 
	 min-height:137px;
}
.stripViewer { 
	 position: relative; 
	 overflow: hidden; 
	 width: 525px; 
	 height:137px; 
}
.stripViewer .panelContainer { 
	 position: relative; 
}
.stripViewer .panelContainer .panel { 
	 float: left; 
	 height: 100%; 
	 position: relative; 
	 width: 525px; 
}
.stripNavL, .stripNavR, .stripNav { 
	 display: none; 
}
/*..................................................................................................*/
/*....................................Footer..........................................*/
footer {
	display : table-row;
	height: 20px; /* à titre d'exemple */
}
#footer{
	Text-align: center;
	
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	margin-top:auto;
	padding:10px;
	color:#000;
	font-size:10px;	
}
/*..................................................................................................*/
/* Disposition tablette : 481px sur 768px. Hérite des styles de : Disposition mobile */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Disposition bureau : 769px à max. 1232px.  Hérite des styles de : Disposition mobile et disposition tablette */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}